$primary:blue;


*{
    background: $primary;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

button{
    background: white;
    text-decoration: none;
    border-radius: 5px;
    color: black;

}