h1{
    background:linear-gradient(rgb(163, 3, 163), rgb(64, 64, 255));
    text-align: center;
    border-radius: 50px;
    transition: 10s;
}

p{
    background-color: black;
    color: white;
    margin:  30px 70px 150px 20px;
   
}