*{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    background: yellowgreen;
    border-radius: 50px;
    margin: 50px 50px 50px 50px;

}

p{
    color: black;
    text-align: justify;
    text-indent: 60px;

}

.botao{
    border: 7px solid black;
    font-size: 50px;
    text-decoration:none;
    border-radius: 30px;
    background: lightblue;
   
}

a.botao:hover{
    background: orange;
}